@{
    ViewData["Title"] = "Gerente";
}

<head>
    <link href="~/css/gerente.css" rel="stylesheet" />
</head>

<h1>Reportes del gerente</h1>

<!-- Decoraciones -->
<div class="pie"></div>
<div class="costado"></div>

<!-- Botón para salir -->
<button id="Salir" onclick="borrarCookiesYSalir()">Salir</button>

<!-- Botones para generar reportes -->
<div class="botoneR">
    <button class="boton" id="reportePublicacionesReportadas" onclick="mostrarVentanaEmergente('reportadas')">Reporte Publicaciones Reportadas</button>
    <button class="boton" id="reporteMasLikes" onclick="mostrarVentanaEmergente('populares')">Reporte Publicación con Más Likes</button>
    <button class="boton" id="reporteUsuariosRegistrados" onclick="mostrarVentanaEmergente('usuarios')">Reporte Usuarios Registrados</button>
</div>

<!-- Logo de la aplicación -->
<img  src="~/css/imagenes/logo.png" alt="LogoAplicacion" height="130" width="130" class="logo">

<!-- Modal para confirmación de acciones -->
<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3>¡ALERTA!</h3>
        <span class="close" onclick="cerrarVentanaEmergente()">&times;</span>
        <p id="report-description">¿Desea proceder con esta acción?</p>
        <div class="modal-buttons">
            <button class="botonD" onclick="confirmarDescarga()">Descargar</button>
            <button class="botonE" onclick="confirmarEnvioCorreo()">Enviar por Correo</button>
        </div>
    </div>
</div>
<script src="~/js/gerente.js"></script>