@{
    ViewBag.Title = "Moderador2";
}

<head>
    <link href="~/css/moderador2.css" rel="stylesheet" />
</head>

<body>
    <div class="pie"></div>
    <div class="costado"></div>
    <button id="Salir" onclick="borrarCookiesYSalir()">Salir</button>
    <button id="admiR" onclick="mostrarVentanaEmergenteReportes()">Administrar Reportes</button>

    <img src="~/css/imagenes/logo.png" alt="LogoAplicacion" height="130" width="130" class="logo">

    <!-- Modal para administrar reportes -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarVentanaEmergenteReportes()">&times;</span>
            <h2>Administrar Reportes</h2>
            <div id="reportes-container">
                <!-- Las publicaciones reportadas se mostrarán aquí -->
            </div>
        </div>
    </div>

    <!-- Modal para confirmar eliminación de publicación -->
    <div id="eliminarPublicacionModal" class="modal">
        <div class="modal-content">
            <h3>¿Estás seguro de eliminar esta publicación?</h3>
            <button onclick="eliminarPublicacion()">Sí, eliminar</button>
            <button onclick="cerrarModalEliminarPublicacion()">Cancelar</button>
        </div>
    </div>

    <!-- Modal para confirmar eliminación de reporte -->
    <div id="eliminarReporteModal" class="modal">
        <div class="modal-content">
            <h3>¿Estás seguro de eliminar este reporte?</h3>
            <button onclick="eliminarReporte()">Sí, eliminar</button>
            <button onclick="cerrarModalEliminarReporte()">Cancelar</button>
        </div>
    </div>


    <script src="~/js/moderador2.js"></script>
</body>
