body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.costado {
    width: 170px;
    height: 100%;
    background-color: #00E3B8;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pie {
    width: 100%;
    height: 170px;
    background-color: #287777;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#Salir {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 8px;
    width: 130px;
    color: white;
    margin: 20px;
    position: fixed;
    right: 5px;
    top: 5px;
    position: absolute;
    font-weight: bold;
    font-size: 16px;
}

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0px;
    z-index: 2;
}

#reporteA, #reporteD, #reporteS {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 20px;
    width: 100%;
    color: white;
    margin: 20px;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.botoneR {
    width: 400px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: #CFFFED;
    opacity: 0.94;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.desca {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 8px;
    width: 130px;
    color: white;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
}
