body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.costado {
    width: 170px;
    height: 100%;
    background-color: #00E3B8;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pie {
    width: 100%;
    height: 170px;
    background-color: #287777;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#Salir {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 8px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}

    #Salir:hover {
        background-color: #028D64;
    }

#admiR {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 8px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#descargarReportes {
    border-radius: 10px;
    background-color: #03AB87;
    border: none;
    padding: 8px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 70px; /* Aseguramos que esté debajo del botón de administrar reportes */
    left: 10px;
    z-index: 10;
}

    #descargarReportes:hover {
        background-color: #028D64;
    }

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0px;
    z-index: 2;
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que los modales estén por encima del contenido */
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.publicacionR {
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    border: 3px solid #40BFBC;
    width: 600px;
    margin: 20px;
    display: block;
    min-width: 100px;
    max-width: 80%;
}

    .publicacionR h3, .publicacionR p {
        margin: 5px 0;
    }

    .publicacionR .botonesR button {
        border-radius: 10px;
        background-color: #03AB87;
        padding: 8px;
        width: 130px;
        color: white;
        margin: 5px;
        font-weight: bold;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

        .publicacionR .botonesR button:hover {
            background-color: #028D64;
        }

/* Estilos para los modales de confirmación */
#eliminarPublicacionModal, #eliminarReporteModal, #descargarReportesModal {
    display: none; /* Inicialmente ocultos */
}

    #eliminarPublicacionModal .modal-content,
    #eliminarReporteModal .modal-content,
    #descargarReportesModal .modal-content {
        width: 400px;
    }

    #eliminarPublicacionModal button,
    #eliminarReporteModal button,
    #descargarReportesModal button {
        background-color: #03AB87;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px 5px;
    }

        #eliminarPublicacionModal button:hover,
        #eliminarReporteModal button:hover,
        #descargarReportesModal button:hover {
            background-color: #028D64;
        }

    #eliminarPublicacionModal .modal-content h3,
    #eliminarReporteModal .modal-content h3,
    #descargarReportesModal .modal-content h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #eliminarPublicacionModal .modal-content p,
    #eliminarReporteModal .modal-content p,
    #descargarReportesModal .modal-content p {
        font-size: 16px;
    }
